#editor {
  height: 100%;
  width: 100%;
  position: relative;
}

#mainContainer {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  float: left;
}

#editorContainer {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 50vw;
}

#outputContainer {
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  height: 100vh;
  width: 50vw;
  border: 0;
}

#output {
  position: relative;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}