/*
  Structure
 */

html {
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
}

body {
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
}

#mainContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#interactContainer {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 52%;
  background-color: #eeeeee;
  overflow:auto;
  font-family:Arial,sans-serif;
}

#editorContainer {
  height: 100%;
  width: 48%;
  margin: 0;
  padding: 0;
}

#editor {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#outputContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#outputFrame {
  border: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
  Content
 */

.center {
  text-align:center;
  padding: 0 2px 0 2px;
}

.inlineHeader {
  display:inline;
  line-height:1.8em;
}

.right {
  float:right;
}

.pad {
  padding-left: 3%;
  padding-right: 3%;
}

section.hiddenSection {
  display: none;
}

span.temporarilyHiddenText {
  visibility: hidden;
}

.expandH {
  width: 99%;
}

tr.uniqueCondition {
  background-color: white;
}

tr.sameCondition {
  background-color: #eeeeee;
  color: gray;
}

tr.currentRule {
  background-color: #e0feb0;
}

tr.currentRule {
  background-color: #e0feb0;
}

.small {
  font-size: small;
}

button {
  background-color: #4CAF50;
  border: 1px #3C9F40 solid;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: alias;
  line-height: 1;
  padding: 5px;
  font-size: small;
}

button[disabled] {
  background-color: rgba(211, 211, 211, 100);
  border-color: rgba(195, 195, 195, 255);
  cursor: not-allowed;
}

tr.sameCondition td button {
  background-color: #999;
  border-color: #888;
}

select {
  height: 25px;
}

.example {
  cursor: help;
}

table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  margin: 15px 0 15px 0;
}

td {
  border: 1px solid black;
  padding: 1px 5px 1px 5px;
  white-space:nowrap;
}

tr:first-child {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  font-size: medium;
}

/*
  Highlight
 */

.highlightRed {
  position:absolute;
  background: rgba(230,0,0,0.3);
  z-index: 20;
}

.highlightYellow {
  position:absolute;
  background: rgba(150,200,0,0.3);
  z-index: 20;
}

.highlightGreen {
  position:absolute;
  background: rgba(100,250,100,0.3);
  z-index: 20;
}

/*
  Scrollbar Styling
 */

body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(100,100,250,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
body::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100,100,250,0.4);
}

#editorContainer *::-webkit-scrollbar {
  width: 10px;
}
#editorContainer *::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#editorContainer *::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(240,10,10,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#editorContainer *::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(240,10,10,0.4);
}

#interactContainer::-webkit-scrollbar {
  width: 10px;
}
#interactContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#interactContainer::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(76,175,50,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#interactContainer::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(76,175,50,0.4);
}