<!DOCTYPE html>
<html ng-app="fanniemae">
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Fannie Mae | Home</title>
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<!--fixed-layout-->
<!--ls:begin[stylesheet]-->
<link href="/iwov-resources/fixed-layout/Homepage-responsive.css" type="text/css" rel="stylesheet">
<!--ls:end[stylesheet]-->
<!--ls:begin[meta-keywords]-->
<meta name="keywords" content="Fannie Mae">
<!--ls:end[meta-keywords]-->
<!--ls:begin[meta-description]-->
<meta name="description" content="Fannie Mae serves the people who house America. We are a leading source of financing for mortgage lenders and our financing makes sustainable homeownership and workforce rental housing a reality for millions of Americans.">
<!--ls:end[meta-description]-->
<meta property="og:title" content="Fannie Mae" />
<meta property="og:description" content="Fannie Mae serves the people who house America. We are a leading source of financing for mortgage lenders and our financing makes sustainable homeownership and workforce rental housing a reality for millions of Americans." />
<meta property="og:image" content="http://www.fanniemae.com/resources/img/fb/eli_20160412_0558.jpg" />
<meta property="og:image" content="http://www.fanniemae.com/resources/img/fb/martin161019fm1539.jpg" />
<meta property="og:image" content="http://www.fanniemae.com/resources/img/fb/martin170107fm2012.jpg" />
<meta property="og:url" content="http://www.fanniemae.com/portal/index.html" />
<meta property="og:type" content="website" />

<!--ls:begin[custom-meta-data]-->
<!--ls:end[custom-meta-data]-->
<!--ls:begin[meta-vpath]-->
<meta name="vpath" content="">
<!--ls:end[meta-vpath]-->
<!--ls:begin[meta-page-locale-name]-->
<meta name="page-locale-name" content="English">
<!--ls:end[meta-page-locale-name]-->
<!--ls:begin[stylesheet]-->
<link type="text/css" href="/resources/js/lib/bower_components/angular-carousel/dist/angular-carousel.css" rel="stylesheet">
<!--ls:end[stylesheet]-->
<!--ls:begin[stylesheet]-->
<link type="text/css" href="/resources/styles/fannie-mae-styles.css" rel="stylesheet">
<!--ls:end[stylesheet]-->
<!--ls:begin[stylesheet]-->
<link type="text/css" href="/resources/styles/fm-icon-font.css" rel="stylesheet">
<!--ls:end[stylesheet]-->
<!--ls:begin[stylesheet]-->
<link type="text/css" href="/resources/styles/font-awesome.min.css" rel="stylesheet">
<!--ls:end[stylesheet]-->
<!--ls:begin[stylesheet]-->
<link type="text/css" href="/resources/styles/fonts.css" rel="stylesheet">
<!--ls:end[stylesheet]-->
<!--ls:begin[stylesheet]-->
<link type="text/css" href="/resources/styles/style.css" rel="stylesheet">
<!--ls:end[stylesheet]-->
<!--ls:begin[script]-->
<script type="text/javascript" src="/resources/js/jquery-1.12.2.min.js"></script>
<!--ls:end[script]-->
<!--ls:begin[script]--><script type="text/javascript" src="/resources/js/controller.js"></script>
<!--ls:end[script]-->
<!--ls:begin[head-injection]--><!--ls:end[head-injection]--><!--ls:begin[tracker-injection]--><!--ls:end[tracker-injection]--><!--ls:begin[script]--><!--ls:end[script]--></head>
<body ng-controller="MainController">
<main>
<div id="page-wrapper">
<!--ls:begin[body]--><div class="ls-canvas" id="ls-canvas">
<div class="ls-row" id="ls-row-1">
<div class="ls-fxr" id="ls-gen66909197-ls-fxr">
<div class="ls-area" id="ls-row-1-area-1">
<div class="ls-area-body" id="ls-gen66909198-ls-area-body">
<div class="ls-cmp-wrap ls-1st" id="w1479530512721">
<!--ls:begin[component-1479530512721]-->
<div class="iw_component" id="1479530512721"><!-- Google Tag Manager -->
<noscript></noscript>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T7L6LT');</script>
 <!-- End Google Tag Manager -->
</div>
<!--ls:end[component-1479530512721]-->
</div>
<div class="ls-cmp-wrap" id="w1471067308321">
<!--ls:begin[component-1471067308321]-->
<div class="iw_component" id="1471067308321"><div class="" ng-include="'/resources/navbar/global-header-homepage.html'"></div></div>
<!--ls:end[component-1471067308321]-->
</div>
</div>
</div>
<div class="ls-row-clr"></div>
</div>
</div>
<div class="ls-row container-fluid" id="ls-row-2">
<div class="ls-fxr" id="ls-gen66909199-ls-fxr">
<div class="ls-area row" id="ls-row-2-area-1">
<div class="ls-area-body" id="ls-gen66909200-ls-area-body">
<div class="ls-cmp-wrap ls-1st" id="w1462558265888">
<!--ls:begin[component-1462558265888]-->
<div class="iw_component" id="1462558265888">            <div class="col-xs-12">
  <div fm-carousel class="fm-homepage-carousel">
                <div rn-carousel-indicator custom-indicator class="fm-carousel-controls"><span ng-repeat="slide in slides" ng-class="{active: isActiveSlide($index)}" ng-click="setActiveSlide($index)" class="carousel-nav c-white"></span></div>
                <ul rn-carousel rn-carousel-auto-slide="4" rn-carousel-index="carouselIndex" class="pane-homepage-slider-slider-home">


                  <li class="fm-carousel-item">
                    <figure class="fm-carousel-figure">
                      <picture class="fm-image">
                        <img src="/resources/img/marquees/challenge-marquee-061818.jpg" alt="responsive image">
                      </picture>
                      <figcaption class="fm-carousel-caption">
                                                                               <style="color:#FFFFFF; text-shadow: none;"><h2>Meet the three contract awardees from Phase 1<br />of The Innovation Challenge<span class="fm-arrow-right-circle icon" style="padding-left:5px;"> </span></h2><h4><a href="
/portal/media/corporate-news/2018/innovation-challenge-6719.html?utm_source=int&utm_medium=marquee&utm_campaign=phaseone-release-062018">Press release</a><br />
<a href="/thechallenge/?utm_source=int&utm_medium=marquee&utm_campaign=phaseone-landing-062018">The Innovation Challenge</a></h4></p>
                      </figcaption>
                    </figure>
                  </li>

                   <li class="fm-carousel-item">
                    <figure class="fm-carousel-figure">
                      <picture class="fm-image">
                        <img src="/resources/img/marquees/lcau-marquee.jpg" alt="responsive image">
                      </picture>
                      <figcaption class="fm-carousel-caption">
					<p><a href="http://lcau.mit.edu/conference/rebuilding-supply-affordable-housing" style="color:#007697; text-shadow: none;" target="_blank">
					<h2>Rebuilding the supply of affordable housing: Fannie Mae and MIT bring together innovators to find solutions<span class="fm-arrow-right-circle icon" style="padding-left:5px;"> </span></h2></a></p>
                      </figcaption>
                    </figure>
                  </li>   
                  
                 <li class="fm-carousel-item">
                    <figure class="fm-carousel-figure">
                      <picture class="fm-image">
                        <img src="/resources/img/marquees/computerworld-fm-it-061918.jpg" alt="responsive image">
                      </picture>
                      <figcaption class="fm-carousel-caption">
                        <p><a href="/portal/media/corporate-news/2018/computerworld-best-workplace-6718.html?utm_source=int&utm_medium=marquee&utm_campaign=computerworld-061918" style="color:#FFFFFF; text-shadow: 4px;"><h2>Fannie Mae named #47 among large organizations on Computerworld's list of Best Places to Work in IT for 2018 <span class="fm-arrow-right-circle icon" style="padding-left:5px;"> </span></h2></a></p>
                      </figcaption>
                    </figure>
                  </li>		     

                    <li class="fm-carousel-item">
                    <figure class="fm-carousel-figure">
                      <picture class="fm-image">
                        <img src="/resources/img/marquees/housing-wire-rising-stars-060118.jpg" alt="responsive image">
                      </picture>
                      <figcaption class="fm-carousel-caption">
						  <p><a href="https://www.housingwire.com/articles/43468-housingwires-class-of-2018-rising-stars" style="color:#FFFFFF; text-shadow: none;" target="_blank"><h2>Fannie Mae leaders named<br />HousingWire's 2018 Rising Stars <span class="fm-arrow-right-circle icon" style="padding-left:5px;"> </span></h2></a></p>
                      </figcaption>
                    </figure>
                  </li>	

				<li class="fm-carousel-item">
                    <figure class="fm-carousel-figure">
                      <picture class="fm-image">
                        <img src="/resources/img/marquees/americas-housing-partner-0518.png" alt="responsive image">
                      </picture>
                      <figcaption class="fm-carousel-caption">
                        <p><a href="/americas-housing-partner/pro-report-desktop/index.html?utm_source=int&utm_medium=marquee&utm_campaign=fanniemae_progress_report" style="color:#FFFFFF; text-shadow: none;"><h2>Driving progress through partnership <span class="fm-arrow-right-circle icon" style="padding-left:5px;"> </span></h2> <h4 style="width:80%;">We're focused on our industry partners so they can focus on helping more home buyers and renters.</h4></a></p>
                      </figcaption>
                    </figure>
                  </li>	

                  </ul>
              </div>
            </div> 
</div>
<!--ls:end[component-1462558265888]-->
</div>
</div>
</div>
<div class="ls-row-clr"></div>
</div>
</div>
<div class="ls-row container" id="ls-row-3">
<div class="ls-fxr" id="ls-gen66909201-ls-fxr">
<div class="ls-area row" id="ls-row-3-area-1">
<div class="ls-area-body" id="ls-gen66909202-ls-area-body">
<div class="ls-cmp-wrap ls-1st" id="w1474349731076">
<!--ls:begin[component-1474349731076]-->
<div class="iw_component" id="1474349731076"><div class="content-row">
                  <figure class="fm-primary-feature col-sm-6"><img src="/resources/media/primary-feature-5.png" class="fm-primary-feature-img">
                    <figcaption class="fm-primary-feature-caption fm-overhang-left">
                      <div class="fm-secondary-feature padding-30 undefined dark-bg">
                        <div class="fm-type font-serif" style="font-size:26px;">Single-Family Mortgages</div>
                        <div class="fm-title"><a href="https://www.fanniemae.com/singlefamily/index?utm_source=int&utm_campaign=sftile&utm_medium=tile" target="_blank">Helping lenders serve today's home buyers and homeowners.</a>
                        </div>
                        <div class="fm-date"></div><a href="https://www.fanniemae.com/singlefamily/index?utm_source=int&utm_campaign=sftile&utm_medium=tile" target="_blank" class="cta">Learn more<span aria-hidden="true" class="icon fm-arrow-right-circle"></span></a>
                      </div>
                    </figcaption>
                  </figure>
                  <figure class="fm-primary-feature col-sm-6"><img src="/resources/media/primary-feature-4.png" class="fm-primary-feature-img">
                    <figcaption class="fm-primary-feature-caption fm-overhang-right">
                      <div class="fm-secondary-feature padding-30 undefined dark-bg">
                        <div class="fm-type font-serif" style="font-size:26px;">Multifamily Mortgages</div>
                        <div class="fm-title"><a href="https://www.fanniemae.com/multifamily/index?utm_source=int&utm_campaign=mfile&utm_medium=tile" target="_blank">Providing financing for quality rental housing in every market, every day.</a>
                        </div>
                        <div class="fm-date"></div><a href="https://www.fanniemae.com/multifamily/index?utm_source=int&utm_campaign=mfile&utm_medium=tile" target="_blank" class="cta">Learn more<span aria-hidden="true" class="icon fm-arrow-right-circle"></span></a>
                      </div>
                    </figcaption>
                  </figure>
                </div>
</div>
<!--ls:end[component-1474349731076]-->
</div>
<div class="ls-cmp-wrap" id="w1462558265886">
<!--ls:begin[component-1462558265886]-->
<div class="iw_component" id="1462558265886">                <div class="content-row">
                  <figure class="fm-primary-feature col-sm-6"><img src="/resources/media/primary-feature-3.png" class="fm-primary-feature-img">
                    <figcaption class="fm-primary-feature-caption fm-overhang-left">
                      <div class="fm-secondary-feature padding-30 undefined dark-bg">
                        <div class="fm-type font-serif" style="font-size:26px;">Capital Markets</div>
                        <div class="fm-title"><a href="/portal/funding-the-market/investors.html?utm_source=int&utm_campaign=cmtile&utm_medium=tile">Reducing risk and enhancing housing finance market liquidity.</a>
                        </div>
                        <div class="fm-date"></div><a href="/portal/funding-the-market/investors.html?utm_source=int&utm_campaign=cmtile&utm_medium=tile" class="cta">Learn more<span aria-hidden="true" class="icon fm-arrow-right-circle"></span></a>
                      </div>
                    </figcaption>
                  </figure>
                  <figure class="fm-primary-feature col-sm-6"><img src="/resources/media/primary-feature-2.png" class="fm-primary-feature-img">
                    <figcaption class="fm-primary-feature-caption fm-overhang-right">
                      <div class="fm-secondary-feature padding-30 undefined dark-bg">
                        <div class="fm-type font-serif" style="font-size:26px;">Consumers</div>
                        <div class="fm-title"><a href="/portal/homeowners-renters.html?utm_source=int&utm_campaign=hrtile&utm_medium=tile">Innovating to simplify and better meet the housing needs of today’s families.</a>
                        </div>
                        <div class="fm-date"></div><a href="/portal/homeowners-renters.html?utm_source=int&utm_campaign=hrtile&utm_medium=tile" class="cta">Learn more<span aria-hidden="true" class="icon fm-arrow-right-circle"></span></a>
                      </div>
                    </figcaption>
                  </figure>
                </div>
                <div class="content-row">
                  
                  <div class="equal-height-sm-row">
                    <div class="fm-secondary-feature padding-30 col-sm-4 col-sm-height white-bg color-dark">
                      
<div class="fm-type font-serif">Recent News</div>

<div class="fm-title"><a href="/portal/media/corporate-news/2018/june-home-purchase-sentiment-index-6727.html">Fannie Mae Releases June 2017 Home Purchase Sentiment Index</a>
                      </div>
                      <div class="fm-date">July 9, 2018</div>

<div class="fm-title"><a href="/portal/media/corporate-news/2018/lihtc-rockaway-village-6725.html">Fannie Mae Announces $26 Million Low-Income Housing Tax Credit Investment</a>
                      </div>
                      <div class="fm-date">June 28, 2018</div>

<div class="fm-title"><a href="/portal/media/financial-news/2018/npl-community-impact-pool-winner-6723.html">Fannie Mae Announces Winner of Thirteenth Community Impact Pool of Non-Performing Loans</a>
                      </div>
                      <div class="fm-date">June 26, 2018</div>

<a href="/portal/jsp/filter-media.html?topic=all_news_categories" class="cta">Learn more<span aria-hidden="true" class="icon fm-arrow-right-circle"></span></a>
                    </div>
                    <div class="fm-secondary-feature padding-30 col-sm-4 col-sm-height white-bg color-dark">
                      <div class="fm-type font-serif">Latest Innovations</div>
                      <div class="fm-title">
                      <iframe id="youTubePlayer" width="100%" height="200" src="https://www.youtube.com/embed/LsZ_Tg92jNA?rel=0&modestbranding=1" style="background-color:#555;" frameborder="0" allowfullscreen></iframe>
                      
                      </div>
                      <div style="font-size:18px;">Our Day 1 Certainty initiative reduces risk and delivers speed, simplicity, and certainty to the mortgage process.</div><a href="https://www.fanniemae.com/singlefamily/day-1-certainty" class="cta">Learn more<span aria-hidden="true" class="icon fm-arrow-right-circle"></span></a>
                    </div>
                    <div class="fm-secondary-feature padding-30 col-sm-4 col-sm-height white-bg color-dark">
                      <div class="fm-type font-serif">Housing Perspectives</div>

<div class="fm-title"><a href="/portal/research-insights/perspectives/older-homeowner-exodus-myers-simmons-071118.html">The Coming Exodus of Older Homeowners</a>
                      </div>
<div class="fm-date">July 11, 2018</div> 

<div class="fm-title"><a href="/portal/research-insights/perspectives/enterprise-paid-mortgage-insurance-schaefer-071018.html">Fannie Mae's Enterprise-Paid Mortgage Insurance Option</a>
                      </div>
<div class="fm-date">July 10, 2018</div>
                                                                                    
                      <a href="/portal/research-insights/perspectives.html" class="cta">Learn more<span aria-hidden="true" class="icon fm-arrow-right-circle"></span></a>
                    </div>
                  </div>

</div>
<!--ls:end[component-1462558265886]-->
</div>
</div>
</div>
<div class="ls-row-clr"></div>
</div>
</div>
<div class="ls-row" id="ls-row-4">
<div class="ls-fxr" id="ls-gen66909203-ls-fxr">
<div class="ls-area" id="ls-row-4-area-1">
<div class="ls-area-body" id="ls-gen66909204-ls-area-body">
<div class="ls-cmp-wrap ls-1st" id="w1462558265887">
<!--ls:begin[component-1462558265887]-->
<div class="iw_component" id="1462558265887"><div ng-include="'/resources/navbar/footer.html'" class=""></div>
</div>
<!--ls:end[component-1462558265887]-->
</div>
<div class="ls-cmp-wrap" id="w1471003462502">
<!--ls:begin[component-1471003462502]-->
<div class="iw_component" id="1471003462502"><script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script>
      window.angular || document.write('<script src="/resources/js/lib/angular.min.js"><\/script>');
      
    </script>

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
      stLight.options({publisher: "33ebdc2e-6083-4e55-b1e2-20aed9634269", doNotHash: false, doNotCopy: false, hashAddressBar: false, servicePopup:true});
      
      
    </script>
<script>document.createElement( "picture" );</script>
<script src="/resources/js/lib/picturefill.min.js" async></script>
<script src="/resources/js/lib/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/resources/js/lib/bower_components/hammerjs/hammer.js"></script>
    <script src="/resources/js/lib/bower_components/svgxuse/svgxuse.js"></script>
    <script src="/resources/js/lib/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/resources/js/lib/bower_components/angular-carousel/dist/angular-carousel.js"></script>
    <script src="/resources/js/lib/bower_components/angular-hammer/angular-hammer.js"></script>
<script src="/resources/js/main.js"></script>
         
    </div>
<!--ls:end[component-1471003462502]-->
</div>
</div>
</div>
<div class="ls-row-clr"></div>
</div>
</div>
</div><!--ls:end[body]--><!--ls:begin[page_track]--><!--ls:end[page_track]--></div>
</main>
</body>
</html>
